* {
    overflow: auto;
}

body {
    background-color: Black;
    font-family: "arial";

    /*margin: 10px;*/
}

div.contenu {
    /*background-color: Skyblue;*/
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    background-image: url("sky.jpg");
    /*background-repeat: repeat-x;*/
   /* min-width: 200px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.3);*/
    overflow: visible;
}

div.categorie {
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
    text-align: center;
    width: 100%;
}

p.categorie {
    background-color: Violet;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: -2%;
    padding: 8px 18px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 2px 2px 5px blue;
    border: 2px solid lightblue;
    border-radius: 15px;
    /*box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);*/
}

span.age{
      color: cyan;
      font-weight: bold;
      font-size: 30px;
      text-shadow: 2px 2px 5px black;
    }

h1 {
    font-family: Lobster;
    text-shadow: 2px 2px 5px green;
    /*font-stretch: expanded;*/
    width: 95%;
    height: 50%;
    padding-left: auto;
    padding-right: auto;
    background-color: lightyellow;
    font-size: 12px;
    text-align: center;
    vertical-align: center;
    border: 2px solid black;
    border-radius: 15px;
}

div.separateur {
    width: 70%;
    height: 2px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
}

div.centre{
    background-color: lightblue;
    background-image: url("fireworks.gif");
    padding-top: 10px;
    padding-bottom: 0px;
    border-radius: 15px;
}
.centre {
    text-align: center;
    width: 97%;
}

img.proprios{
    width: 40%;
    height: 50%;
    border: 2px solid lightgreen;
    border-radius: 15px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes example {
  0%   {left:-50px; top:0px;}
  25%  {left:50px; top:0px;}
  50%  {left:50px; top:20px;}
  75%  {left:-50px; top:20px;}
  100% {left:-50px; top:0px;}
}

p.description {
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    padding: 5px;
    display: inline-block;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 15px;
    /*box-shadow: 0px 0px 8px 8px rgba(0, 0, 1, 0);*/
    background-color: lightyellow;
}

p.presentation {
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    padding: 0px 10px;
    display: inline-block;
    font-size: 18px;
    border-radius: 15px;
    background-color: lightgreen;
}

table.titre{
   padding: 0px 10px;
   width: 100%;
   height: 25%;
}

table.titre td {
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}

table.titre th {
    /*vertical-align: center;*/
    /*padding-bottom: 0px;*/
}

table.titre.tr{
    vertical-align: center;
    horizontal-align: center;
    overflow: auto;
}

div.info {
    position: relative;
}

table.info {
    position: relative;
    bottom:0;
    width: 100%;
    color: black;
    background-color: lightyellow;
    background-image: url("balloons.jpg");
    border-radius: 15px;
    /*height: 50px*/
}

table.info td {
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}

table.info th {
    font-size: 10px;
    vertical-align: bottom;
    padding-bottom: 0px;
}

img.une{
    display: block;
    margin: auto;
    width: 90%;
    padding: 0px 0px 0px 0px ;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.6);
}

img.deux{
    display: block;
    margin: auto;
    width: 90%;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.6);
}

img.trois{
    display: block;
    margin: auto;
    width: 50%;
    object-fit: cover;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.6);
}

img.quatre{
    display: block;
    margin: auto;
    width: 90%;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.6);
}

img.cinq{
    display: block;
    margin: auto;
    width: 90%;
    padding: 0px 0px 0px 0px ;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.6);
}

img.six{
    display: block;
    margin: auto;
    width: 90%;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.6);
}

img.gif{
    width: 60%;
    height: 95%;
    border-radius: 15px;
}

video {
    border-radius: 15px;
}

/* Styles pour smartphone large */
@media only screen and (min-width: 375px) {
    div.contenu {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 20px 20px 20px;
        /*min-width: 50%;*/
    }
    p.categorie {
        font-size: 16px;
    }

    h1 {
        font-size: 16px;
        width: 95%;
        height: 68%;
        padding: 15px 0px 0px 0px;
    }
    p.description {
        font-size: 20px;
    }
    p.presentation {
        font-size: 20px;
    }
    img.gif{
    width: 80%;
    height: 95%;
}
}

/* Styles pour tablette */
@media only screen and (min-width: 768px) {
    div.contenu {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 20px 20px 20px;
        /*min-width: 50%;*/
    }
    p.categorie {
        font-size: 25px;
    }
    span.age{
        color: cyan;
        font-weight: bold;
        font-size: 50px;
        text-shadow: 4px 4px 5px black;
    }
    h1 {
        font-size: 30px;
        width: 95%;
        height: 40%;
        padding: 15px 0px 0px 0px;
    }
    p.description {
        font-size: 30px;
    }
    p.presentation {
        font-size: 30px;
    }
    table.data p.id{
    font-size: 18px;
    }
    img.gif{
    width: 80%;
    height: 95%;
}
}

@media only screen and (min-width: 1440px) {
    div.contenu {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    p.description {
        font-size: 40px;
    }
    p.presentation {
        font-size: 40px;
    }
    h1 {
        font-size: 30px;
    }
    table.data p.id{
    font-size: 18px;
    }
    div.colonne {
        width: 45%;
    }
}